$blue-color: #0075ff;
$blue-alt-color: #0d69d5;
$blue-twitter: #1da1f2;
$blue-facebook: #1877f2;
$blue-linked: #0077b5;
$orange-color: #f59e0b;
$green-color: #22c55e;
$red-color: #f44336;
$red-youtube: #ff0000;
$grey-color: #ddd;
$transition: 0.5s;
$bg_section: #f1f5f9;
$bg-white: white;
$color-text: #666;
$bg-hover: #ddd;
$p-section: 20px;
$p-element: 10px;
$m-heading: 0 0 10px;
$f-size: 14px;
